{% load static %}
<!DOCTYPE html>
<html dir="rtl" lang="en">
<head>
    <meta charset="UTF-8">
    <title>index page </title>

     <link rel="stylesheet"  href="{% static 'css/bootstrap.rtl.min.css' %}">
</head>
<body >
<div class="container">
    <div class="row">
        <div class="mb-3">


  <label for="{{ erjaat_form.asli.id_for_label }}" class="form-label">{{ erjaat_form.asli.label }}</label>
            {{ erjaat_form.asli }}
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>

    </div>


</div>

{{ erjaat_form }}

</body>
</html>